@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

:root {
  /* font-size: 16pt; */
  font-size: clamp(0.5rem, -0.2941rem + 3.5294vw, 1.25rem);
}

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: hsl(203, 23%, 26%);
  overflow: hidden;
}
.content-container {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
  max-width: 90%;
}
.form-container {
  width: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  
}
.login-input {
  width: 100%;
}
#login-button {  
  /* margin: 0px; */
  margin-left: auto;
}
.logo-container {
  /* filter: grayscale(70%); */
  position:   absolute;
  right:      10px;
  bottom:     10px;
  z-index: -1;
}
.logo-text {
    font: 40px 'sigmar one';
    margin: 0px;
    /* text-shadow: 0px 1px 1px #4d4d4d; */
    color: hsl(203, 23%, 23%);;
    /* font: 80px 'LeagueGothicRegular'; */
}